<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.profilesekolah.smpn12tegal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/remove1"
        android:label="SMPN 12 TEGAL"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProfilSekolahSMPN12TEGAL">
        <activity android:name="com.profilesekolah.smpn12tegal.FasilitasActivity" />
        <activity android:name="com.profilesekolah.smpn12tegal.AdiwiyataActivity" />
        <activity android:name="com.profilesekolah.smpn12tegal.GuruActivity" />
        <activity android:name="com.profilesekolah.smpn12tegal.VisimisiActivity" />
        <activity android:name="com.profilesekolah.smpn12tegal.PrestasiActivity" />
        <activity android:name="com.profilesekolah.smpn12tegal.ProfilActivity" />
        <activity android:name="com.profilesekolah.smpn12tegal.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.profilesekolah.smpn12tegal.MainActivity">
        </activity>
    </application>

</manifest>